/*Zmiennie kolorów*/
$white: #ffffff;
$almostWhite: #e5e5e5;
$blue: #2196f3;
$almostBlack: #212121;
$black: #000000;
$darkGray: #2f303a;
$gray: #757575;
$lightGray: #f5f4fa;
$buttonBlue: #0000ff;
$borderHeader: #ececec;
$borderClients: #afb1b8;
$borderPfLi: #eeeeee;
$smFooterBackground: rgba(255, 255, 255, 0.1);
